page-home {
  .auth-page2 {
    text-shadow: 1px 1px 4px #ffffff;
    color: #000000;
    background-color: #ffffff;
    &::after {
      content: "";
      background: url("../assets/imgs/bg.jpg") no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
    }
  }
}
